<div>
    <div class="container mt-4  shadow ">
        <h1 class="text-center text-primary">Bienvenidos a Mi Proyecto de Programacion en Angular</h1>
        <p>Este proyecto educativo sobre desarrollo web Front-End se realizó a través de la combinación de Angular, HTML, CSS y Javascript, con acciones interactivas para los usuarios.</p>
        <br><hr>

        <div class="row">
            <div class="col-md-6">
                <h2>Angular</h2>
                <br>
                <p>Angular es un potente framework que te permitirá estructurar y organizar tu código de manera eficiente. Con su arquitectura de componentes, podrás construir aplicaciones web sólidas y escalables.</p>
            </div>

            <div class="col-md-6">
                <h2>HTML & CSS</h2>
                <p>HTML y CSS son los lenguajes fundamentales del desarrollo web. Podemos realizar estructura de las páginas con HTML y darles estilo con CSS para lograr diseños atractivos y funcionales.</p>
            </div>
        </div>
        <hr>
        <h2 class="text-center">¿Qué es JavaScript?</h2>
        <br>
        <p>JavaScript es otro pilar importante en el desarrollo web Front-End. Es un lenguaje de programación que se utiliza para hacer que las páginas web sean interactivas y dinámicas. Con JavaScript, puedes agregar comportamientos, validar formularios, crear animaciones y mucho más. En resumen, JavaScript permite a los desarrolladores web dar vida a sus proyectos.</p>

        <p>En este viaje educativo, aprenderás a aprovechar las capacidades de JavaScript para crear experiencias web interactivas y cautivadoras que mantendrán a los usuarios comprometidos.</p>


    </div>
</div>
