<div class=" text-white text-center p-4  shadow" style="background-color: #3b5ed3;" id="inicio">
  <h1>PROYECTO PAGINA ANGULAR</h1>
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/inicio">
        <img src="/src/app/encabezado/logo.png" alt="logo Angular" class="rounded-circle" width="100px">
      </a>
      <button class="navbar-toggler" style="background-color: #3b5ed3;" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"
        style="text-shadow: 2px 1px 2px rgb(224, 222, 222)">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/cursos">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#servicio">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#institucion">Institución</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>